.contributor {
    width: 100%;
    padding: 200px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contributor__subtitle {
    max-width: 430px;
    text-align: center;
    padding: 25px 0 100px;
}

.contributor__form {
    background: $quaternary-color;
    border: 1px solid rgb($primary-color, 0.1);
    padding: 8px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.contributor__form-field {
    min-width: 220px;
    width: 100%;
    padding: 12px 10px;
    margin-right: 20px;
    color: $primary-color;
}

.contributor__form-button {
    width: 100%;
}

@media (max-width: 500px) {

    .contributor__title  {
        text-align: center;
    }
    
    .contributor__form {
        flex-direction: column;
    }

    .contributor__form-field {
        margin-bottom: 15px;
    }

    .contributor__form-button {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}