.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 15px;
    transition: 0.5s;
    z-index: 99;
}

.header--sticky {
    background: $quaternary-color;
    height: 60px;

    .header__nav-submenu {
        background: $quaternary-color;
    }
}

.header--active {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: $quaternary-color;

    .header__logo {
        margin-bottom: 20px;
    }

    .header__nav {
        display: block;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header__nav-menu {

        .header__nav-item {


            &:first-child {
                padding-right: 0;


                span {
                    right: -20px;
                }
            }

        }

        &:hover {

            .header__nav-submenu {
                margin-bottom: 20px;
                height: 65px;
            }
        }
    }

    .header__nav-submenu {
        padding-top: 0;
        position: relative;
        bottom: 0;
        min-height: 0;
        height: 0;
        transition: 0.5s;

        .header__nav-item {
            padding-right: 0;
        }
    }

    .header__buttons {
        display: flex;
    }
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.header__nav-link {
    color: $secondary-color;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;
    line-height: 1.6em;

    &:hover {
        color: $primary-color;
    }
}

.header__nav-menu {
    display: flex;
    flex-direction: column;
    position: relative;

    .header__nav-item:first-child {
        padding-right: 20px;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: absolute;
            right: 0;
            opacity: .5;
            transition: 0.5s;
        }

        &:hover {

            .header__nav-link {
                color: $primary-color;
            }

            span {
                opacity: 1;
            }
        }
    }

    &:hover {

        .header__nav-submenu {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.header__nav-submenu {
    position: absolute;
    bottom: -75px;
    padding-top: 10px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;

    .header__nav-item {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header__buttons {
    display: flex;
}

.header__button {
    padding: 12px 28px;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.header__menu {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;

    span {
        background: $color-orange;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        position: relative;
        transition: 0.5s;

        &::before,
        &::after {
            position: absolute;
            content: '';
            background: $color-orange;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            left: 0;
            transition: 0.5s;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.header__menu--active {

    span {
        background: transparent;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}

@media (max-width: 1024px) {

    .header {
        justify-content: space-around;
    }

    .header__nav {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .header__menu {
        display: flex;
    }
}